* {
    /* sau này đỡ tính toán width để cộng thêm border padding  */
    box-sizing: border-box;
}
html {
    /* khi sử dụng đơn vị rem là bằng 10px cho mỗi rem  */
    font-size: 62.5%;
}
:root {
    /* màu chủ đạo */
    --primary-color: #0f1b4c;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/*============== Common: thành phần dùng chung =============*/
a {
    text-decoration: none;
}
.content {
    /* nếu bình thường mà độ rộng lớn hơn 1110px thì hiện bth */
    width: 1110px;
    /* nếu như nhỏ hơn thì nó sẽ ăn theo max-width */
    max-width: calc(100%-48px);
    margin-left: auto;
    margin-right: auto;
}
.btn {
    display: inline-block;
    /* có thể sao này sẽ có nhiều chữ hơn */
    min-width: 98px;
    /* 16px để khi nhiều chữ sẽ không dụng phải viền */
    padding: 18px 16px;
    /* khi làm chiều cao thì làm padding sẽ đơn giản hơn khi dùng height */
    /* height: 40px; */
    border-radius: 12px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}
.btn:hover {
    opacity: 0.9;
}
.line-clamp {
    /* để phòng người dùng tương lai có thể sẽ nhập nhiều thông tin hơn và làm mất bố cục trang */
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 3;
}
/*============= Header =============*/
.header {
    position: relative;
    background-color: #e6f0ff;
    height: 100vh;
}
.navbar {
    display: flex;
    align-items: center;
    /* đo theo thằng cao nhất là actions */
    padding-top: 38px;
}
.navbar ul {
    /* nếu dùng display: inline-block thì nó sẽ ăn luôn cả dấu xuống hành */
    display: flex;
    margin-left: 50px;
}
.navbar .actions {
    margin-left: auto;
}
.navbar ul a {
    font-size: 1.4rem;
    font-weight: 500;
    color: #4f5361;
    /* để cho người dùng có thể ấn xung quanh thẻ a, và trên dưới không quá sát chữ */
    padding: 8px 14px;
}
.navbar ul a:hover {
    text-decoration: underline;
}
.navbar .action-link {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-color);
}
.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}
.hero {
    /* đo với thằng bên trên gần nhất */
    margin-top: 130px;
}
.hero .info {
    /* 559 / 1110px = 51%  */
    width: 51%;
}
.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.01em;
}
.hero .title {
    /* do font poppins việt hóa có độ dày hơn poppins bình thường */
    margin-top: 8px;
    color: #000336;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.19;
}
.hero .desc {
    margin-top: 30px;
    color: #5a6473;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
}
.hero-cta {
    min-width: 170px;
    margin-top: 40px;
}
.hero-img {
    position: absolute;
    /* để phù hợp mọi màn hình */
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}
/*============= Clients =============*/
.clients {
    /* do đo sai từ phần từ đến bên trên mà phải đo từ trang đến bên trên */
    margin-top: 79px;
    padding: 43px 0 64px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .desc {
    font-size: 1.6 rem;
    font-weight: 500;
    line-height: 1.25;
    color: #7d8589;
}

.clients .row-desc {
    margin-top: 23px;
}

/* do slack cao nhất nên đo theo */
.clients .images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}

.clients .images a {
    display: flex;
    align-items: center;
    /* tạo bằng padding vì muốn khoảng trắng đầu/sau logo đều nhau giữa các logo 
    nếu xét theo width thì logo có kích thước khác nhau sẽ làm khoảng trắng có bị thừa thiếu  */
    padding: 0 42px;
    /* nếu dùng padding cho chiều cao thì sẽ làm cho logo cao thấp khác nhau */
    height: 91px;
    border-radius: 12px;
}

.clients .images a:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

/*============= Guides =============*/
.guides {
    /* do đo sai từ phần từ đến bên trên mà phải đo từ trang đến bên trên */
    margin-top: 40px;
    padding: 93px 0 79px;
}
.guides .sub-title {
    position: relative;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    color: #000339;
}

.guides .sub-title::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.guides .desc {
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;
    color: #5a6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
}
.list-guide {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.guide-item {
    margin: 0 70px;
    text-align: center;
}

.guide-item .title {
    margin-top: 26px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
    color: #3b3c45;
}
.guide-item .link {
    display: inline-block;
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    /* how to buy do có thể họ sẽ không tăng chữ lên nên có thể bỏ đi
    line-height: 1.05; */
    color: #0689ff;
}

.guide-item .arrow {
    margin-left: 6px;
}
.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guide-cta .btn {
    min-width: 170px;
}

/*============= Featured =============*/
.featured {
    /* do đo sai từ phần từ đến bên trên mà phải đo từ trang đến bên trên */
    margin-top: 41px;
    padding: 110px 0;
    background: #f5fafe;
}

.featured .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}

.featured .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.featured .desc {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
    color: #5a6473;
}

.featured .link {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: #0689ff;
}

.featured .link .arrow {
    margin-left: 8px;
}

.featured .list {
    display: flex;
    gap: 30px;
    margin-top: 70px;
}

.featured .item {
    flex: 1;
    background: #fff;
    border-radius: 12px;
    /* khi thẻ con tràn ra thẻ cha thì sẽ bị ẩn đi nhưng nếu thêm 1 vài chi tiết khác thì sẽ bị ẩn tốt nhất không nên dùng */
    /* overflow: hidden; */
}

.featured .list .thumb {
    width: 100%;
    height: 277px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .item .body {
    padding: 17px 20px 24px;
}

.featured .item .title a {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
}

.featured .item .desc {
    /* dùng tên biến trực tiếp trong selector sẽ được ưu tiên hơn */
    --line-clamp: 3;
    margin-top: 11px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    color: #a3a6ab;
    /* nếu người dùng (người đăng nội dung) dán link vào sẽ làm hỏng giao diện */
    word-break: break-all;
}

.featured .item .info {
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.featured .item .icon {
    margin-left: 23px;
}

.featured .item .icon:first-child {
    margin-left: 0;
}

.featured .item .label {
    margin-left: 8px;
    color: #4d4d52;
    font-size: 1.4rem;
    font-weight: 500;
    /* label ngắn nên không cần line-height */
    /* line-height: 14px;  */
    letter-spacing: 0.01em;
}

/*============= Stats =============*/
.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .content {
    width: 1048px;
}

.stats .row {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats .info {
    /* khoảng cách giữa khối content và img-block */
    padding: 70px 0 0 165px;
}

.stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    /* không nên để cố định chiều cao bởi vì sau này khi tăng dòng nó sẽ tràn */
    width: 239px;
    padding: 45px 22px 40px;
    border-radius: 0px 0px 12px 12px;
    background-color: #fff;
}

.stats-trend .value {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    /* không dùng line-height vì không ai để số 2 hàng */
    /* line-height: 26px; */
    letter-spacing: 0.01em;
}

.stats-trend .icon {
    margin-left: auto;
}

.stats-trend .desc {
    margin-top: 8px;
    color: #a7a7a7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
}

.stats-trend .separate {
    height: 1.2px;
    margin-top: 25px;
    background: #e9e9e9;
}

.stats .avatar-block {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 14px;
    margin-top: 26px;
}

.stats .avatar-group {
    display: flex;
}

.stats .avatar {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -3px;
    /* không hình */
    color: #fff;
    /* có thể dùng flex để căn giữa */
    line-height: 16px;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 450;
    letter-spacing: -0.02em;
    background-color: var(--bg-color, #fff);
}

.stats .avatar:first-child {
    margin-left: 0;
}

/* .stats .avatar-1{
    color: #FFF;
    line-height: 16px;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 450;
    letter-spacing: -0.02em;
    background-color: #1F3BB1;
} */

.stats .img-block .image {
    display: block;
    margin-left: auto;
    /* những ảnh nằm trong bố cục cụ thể thì nên đo trực tiếp trên bản thiết kế */
    width: 400px;
    height: 460px;
    border-radius: 12px;
    object-fit: cover;
}

.stats .sub-title {
    position: relative;
    width: 269px;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.29; /* 128.571% */
}

.stats .sub-title::before {
    position: absolute;
    top: -10px;
    content: "";
    display: block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

/* để tránh ảnh hưởng những phần tử khác nên ghi rõ ra */
.stats .info .desc {
    width: 309px;
    margin-top: 20px;
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
}

.stats .row-qty {
    justify-content: space-between;
    margin-top: 110px;
    /* do chữ thục vào phía sau avatar lấy 196 của avatar - 228 của số*/
    padding: 0 32px;
}

.stats .qty {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
}

.stats .qty-desc {
    margin-top: 24px;
    color: #7b8087;
    font-size: 1.8rem;
    font-weight: 500;
}

/*============= Subscription =============*/
.subscription {
    margin-top: 90px;
}

.subscription .body {
    position: relative;
    display: flex;
    align-items: center;
    height: 370px;
    border-radius: 20px;
    background: #063183;
}

.subscription .info {
    /* nếu tăng nội dung nó sẽ bị để sau bức ảnh */
    width: 671px;
    /* reponsive */
    max-width: 100%;
    padding: 0 80px;
}

.subscription .sub-title {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    /* nếu để line-height là 1 là chưa hợp lí do thêm 1 chút từ nữa thoi là thành 2 dòng */
    line-height: 1.5; /* 100% */
}

.subscription .desc {
    margin-top: 15px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
}

.subscription .btn {
    margin-top: 20px;
    min-width: 151px;
    color: #002366;
    background-color: #fff;
}

.subscription .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}

/*============= Footer =============*/
.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row {
    display: flex;
}

.footer .row-top {
    gap: 185px;
}

.footer .heading {
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #1c1c1d;
}

.footer .list,
.footer .desc {
    margin-top: 42px;
}

.footer .item {
    /* do có margin collapse nên sẽ không lo phần từ đầu bị đệm thêm */
    margin-top: 18px;
}

.footer .item a,
.footer .desc {
    color: #7a7a7e;
    font-size: 1.6rem;
    font-weight: 400;
    /* do khi đặt flex mà không đặt width thì nó sẽ ăn theo nội dung của nó */
    white-space: nowrap;
}

.footer .desc {
    white-space: normal;
    line-height: 1.75;
}

.footer .social {
    /* loại bỏ khoảng trắng do thẻ a tạo ra */
    display: flex;
    margin-top: 40px;
}

.footer .social-link {
    /* cách căn giữa thứ 2 */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 3px;
}

.footer .social-link:hover {
    background-color: #ebebeb;
}

.footer .row-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 81px;
}

.footer .copyright {
    color: #c2c2c2;
    font-size: 1.4rem;
    font-weight: 400;
}
