*{
    /* sau này đỡ tính toán width để cộng thêm border padding  */
    box-sizing: border-box;
}
html {
    /* khi sử dụng đơn vị rem là bằng 10px cho mỗi rem  */
    font-size: 62.5%;
}
:root{
    /* màu chủ đạo */
    --primary-color: #0F1B4C;
}
body{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* Common: thành phần dùng chung */
a{
    text-decoration: none;
}
.content{
    /* nếu bình thường mà độ rộng lớn hơn 1110px thì hiện bth */
    width: 1110px;
    /* nếu như nhỏ hơn thì nó sẽ ăn theo max-width */
    max-width: calc(100%-48px);
    margin-left: auto;
    margin-right: auto;
}
.btn{
    display: inline-block;
    /* có thể sao này sẽ có nhiều chữ hơn */
    min-width: 98px;
    /* 16px để khi nhiều chữ sẽ không dụng phải viền */
    padding: 18px 16px;
    /* khi làm chiều cao thì làm padding sẽ đơn giản hơn khi dùng height */
    /* height: 40px; */
    border-radius: 12px;
    background: var(--primary-color);
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}
.btn:hover{
    opacity: 0.9;
}
/*============= Header =============*/
.header{
    position: relative;
    background-color: #E6F0FF;
    height: 100vh;
}
.navbar{
    display: flex;
    align-items: center;
    /* đo theo thằng cao nhất là actions */
    padding-top: 38px;
}
.navbar ul{
    /* nếu dùng display: inline-block thì nó sẽ ăn luôn cả dấu xuống hành */
    display: flex;
    margin-left: 50px;
}
.navbar .actions {
    margin-left: auto;
}
.navbar ul a{
    font-size: 1.4rem;
    font-weight: 500;
    color: #4F5361;
    /* để cho người dùng có thể ấn xung quanh thẻ a, và trên dưới không quá sát chữ */
    padding: 8px 14px;
}
.navbar ul a:hover{
    text-decoration: underline;
}
.navbar .action-link{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-color);
}
.navbar .action-btn{
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}
.hero{
    /* đo với thằng bên trên gần nhất */
    margin-top: 130px;
}
.hero .info{
    /* 559 / 1110px = 51%  */
    width: 51%;
}
.hero .sub-title{
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.01em;
}
.hero .title{
    /* do font poppins việt hóa có độ dày hơn poppins bình thường */
    margin-top: 8px;
    color: #000336;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.19;
}
.hero .desc{
    margin-top: 30px;
    color: #5A6473;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
}
.hero-cta{
    min-width: 170px;
    margin-top: 40px;
}
.hero-img{
    position: absolute;
    /* để phù hợp mọi màn hình */
    right: calc((100vw - 1110px) / 2 - 100px );
    bottom: 0;
}
/*============= Clients =============*/
.clients {
    margin-top: 122px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .desc{
    font-size: 1.6 rem;
    font-weight: 500;
    line-height: 1.25;
    color: #7D8589;
}

.clients .row-desc{
    margin-top: 23px;
}

/* do slack cao nhất nên đo theo */
.clients .images{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 96px;
}
/*============= Guides =============*/
.guides{
    margin-top: 200px;
}
.guides .sub-title{
    position: relative;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    color: #000339;
}

.guides .sub-title::before{
    position: absolute ;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.guides .desc {
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;
    color: #5A6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
}
.list-guide{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.guide-item{
    margin: 0 70px;
    text-align: center;
}

.guide-item .title{
    margin-top: 26px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
    color: #3B3C45;
}
.guide-item .link{
    display: inline-block;
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    /* how to buy do có thể họ sẽ không tăng chữ lên nên có thể bỏ đi
    line-height: 1.05; */
    color: #0689FF;
}

.guide-item .arrow{
    margin-left: 6px;
}
.guide-cta{
    display:flex;
    justify-content: center;
    margin-top: 50px;
}

.guide-cta .btn{
    min-width: 170px;
}